---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Hardware device",
    price: "Sahay Bot",
    popular: false,
    features: [
      "Advanced Sensors",
      "High Resolution",
      "Geotagging capabilities",
      "Universal Mounts",
      "Lightweight",
      "Inhouse Security",
    ],
    button: {
      text: "Know more",
      link: "/contact",
    },
  },
  {
    name: "AI models",
    price: {
      monthly: "Sahay AI",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Predictive Analsyis",
      "Custom models designs",
      "Downtime suggestions",
      "Unlimited data capabilities",
      "Saas Model",
      "Priority Support",
    ],
    button: {
      text: "Know more",
      link: "/contact",
    },
  },
  {
    name: "Interactive UI",
    price: "Sahay MS",
    popular: false,
    features: [
      "User friendly GUI",
      "Google Maps integration",
      "Individual Track anaylsis",
      "Unlimited data playback",
      "Visual & Laser anaylsis",
      "24/7 Support",
    ],
    button: {
      text: "Know more",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Technology</Fragment>
      <Fragment slot="desc">
        3 distinct verticals. Easy integration.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
